body {
  text-align:center;
}


.grid {
  max-width: 600px;
  margin: auto;

}
.cell{
  min-height: 40px;
  min-width: 40px;
  display: inline-block;
  background-color: blue;
}

.red{

}

.blue{

}


.green{
  background-color: green;
}

.redforce{
  background-color: red !important;
}
