<!-- views/login.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>

<form action="/register" method="POST">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">

<button type="submit"> Sign Up </button>
</form>


</body>
</html>
