<!-- views/add.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Add task</title>
</head>
<body>
  <h1>Add Task!</h1>

  <form action="/create_task" method="POST">
    <input type="text" name="task" placeholder="add task...">
    <button type="submit"> Add </button>
  </form>



</body>
</html>
