<!-- views/home.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <h1>List</h1>

<ul>
<% @todo_list.tasks.each do |x| %>
  <% if x.complete? %>
    <li> <strike> <%= x.content %> </strike> : <a href="/delete/<%= x.id %>">delete </a></li>
  <% else %>
    <li> <%= x.content %> : <a href="/complete/<%= x.id %>">complete </a></li>
  <% end %>
<% end %>
</ul>


<a href='/new_task'> Click here to add a new task</a>


</body>
</html>
