<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<a href="/text_inspections/new"> Link </a>

<p> <%= link_to "Text Inspections", controller: "text_inspections", action: "new" %></p>

<p><%= link_to "ASCII", controller: "asciis", action: "new" %></p>
<p><%= link_to "Lipsum", controller: "lipsum", action: "new" %></p>
