<!-- views/movies.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Movies App</title>
</head>
<body>
  <h1>Movies APP</h1>

<form action="/search_movie" method="POST">
<input type="text" name="query" placeholder="What do you want to serch?">



<button type="submit"> Search </button>
</form>


</body>
</html>
