<!-- views/home.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Home | Online Calculator</title>
</head>
<body>
  <h1>Home</h1>


<ul>
  <li> <a href="/add">Add</a></li>
  <li> <a href="/subtract">Subtract</a></li>
  <li> <a href="/multiply">Multiply</a></li>
  <li> <a href="/divide">Divide</a></li>
  <li> <a href="/all">Do All Calculations!</a></li>
</ul>



</body>
</html>
