<!-- views/create_post.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Create Posts</title>
</head>
<body>
  <h1>Create Posts</h1>

<form action="/create_post" method="POST">
<input type="text" name="title" placeholder="Title">
<input type="text" name="text" placeholder="Text">

<input type="text" name="category" placeholder="Category">
<input type="text" name="author" placeholder="Author">

<button type="submit"> Create </button>
</form>


</body>
</html>
