<h1>Add a new contact</h1>

<form action='/contacts/new' method="post" enctype="multipart/form-data">
  <div>

    <label for="contact_name">Name</label>
    <input type="text" required name="contact[name]" id="contact_name">
  </div>

  <div>
    <label for="contact_address">Address</label>
    <textarea name="contact[address]" required id="contact_address"></textarea>
  </div>

  <div>
    <label for="contact_phone">Phone number</label>
    <input type="tel" name="contact[phone]" id="contact_phone" >
  </div>

  <div>
    <label for="contact_email">Email</label>
    <input type="email" name="contact[email]" id="contact_email">
  </div>
    <input type="file" name="contact[avatar]" id="attachment" >
  <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />

   <button type="submit">Add this contact</button>






</form>
