<h1>Word Central</h1>

<h2>Submit text for ASCII!</h2>

<form action='/asciis' method='POST'>
  <div>
    <label for="text_inspection_user_text">Text</label>
    <textarea name="text_inspection[user_text]" id="text_inspection_user_text"></textarea>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>
  <button type="submit">Submit text</button>
 </form>
